# Dataset (fica no Google Drive, ~30 MB) — não versionar
def_front/
ok_front/
 

# Ambientes virtuais
venv/
.venv/
env/

# Notebooks
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]

# Modelos treinados e saídas geradas
*.h5
*.keras
*.pb
docs/
notebooks/
# Sistema
.DS_Store
Thumbs.db
